<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ADS - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/ADS/css/bootstrap.css" rel="stylesheet">
    <link href="/ADS/css/docs.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ADS/img/ico/adsell.png">
	 <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;		
      }
      .sidebar-nav {
        padding: 30px 0;
      }
	  ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;    
      }

      .prod_thumbs{
	 width: 290px;
	 height: 180px;	

      }
      .subcat_img{
        width:640px;
	height:240px;
      }
      .prod_img{
	width: 270px;      
	height: 400px;
      }
    </style>
  </head>
  <body background="/ADS/img/grain.jpg" bgcolor="#333333"> 
  <!-- Navbar
    ================================================== -->
    {% include "fragments/navbar.html" %}
    
<!-- Masthead
================================================== -->
  <div class="container">
    
    {% block content %}
    
   {% endblock %}
 </div> <!-- /.container fluid -->
     <!-- Footer
      ================================================== -->
		{% include "fragments/footer.html" %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/ADS/js/jquery.js"></script>
  </body>
</html>
