<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/ADS/css/bootstrap.css" rel="stylesheet">
	<link href="/ADS/css/docs.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ADS/img/ico/adsell.png">
	 <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;		
      }
      .sidebar-nav {
        padding: 30px 0;
      }
	  ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;    
      }
    </style>
  </head>
  <body background="/ADS/img/grain.jpg" bgcolor="#333333"> 
  <!-- Navbar
    ================================================== -->
    {% include "fragments/navbar.html" %}
    
<!-- Masthead
================================================== -->
  <div class="container">
    {% block content %}
    <div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="../catalog/index.php">Order Item</a> <span class="divider">|</span></li>
			<li><a href="">Return / Exchange of Item</a> <span class="divider">|</span></li>
			<li><a href="">Due Date of Item</a> <span class="divider">|</span></li>
			<li class="active"><h4>My Cart</h4></li>
		</ul>
	   
	</div>
   </div> <!-- /.row -->
   {% endblock %}
 </div> <!-- /.container fluid -->
     <!-- Footer
      ================================================== -->
		{% include "fragments/footer.html" %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/ADS/js/jquery.js"></script>
  </body>
</html>
