{% extends "base.html" %}
{% block content %}
<div class="row">	
	<h1>Your Shopping Cart</h1>
	<ul class="breadcrumb">
	  <li>
	    <a href="#">Home</a> <span class="divider">/</span>
	  </li>
	  <li>
	    <a href="#">Library</a> <span class="divider">/</span>
	  </li>
	  <li class="active">Data</li>
	</ul>
	</div>


	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Size</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Aeneas</td>
				<td>1305</td>
				<td>1</td>
				<td>1305</td>
				<td>50</td>
				<td>black</td>
			</tr>
			<tr>
				<td>Aeneas</td>
				<td>1305</td>
				<td>1</td>
				<td>1305</td>
				<td>50</td>
				<td>black</td>
			</tr>

		</tbody>
	</table>

	<p>You have 2 product/s in your cart, at a total cost of <strong id="total-price">Php 2,306.00</strong></p>

	<a href="#" class="btn">Continue Shopping</a>
	<a href="#" class="btn btn-primary">Submit Order</a>
</div>
{% endblock %}
