<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img src="/ADS/user_image/290x180.gif" alt="">
      <h3><a href="#">Thumbnail label</a> <span class="label label-important"> new</span></h3>
      <p>Thumbnail caption right here...</p>
      <p>Php 500</p>
    </div>
  </li>

  <li class="span4">
    <div class="thumbnail">
      <img src="/ADS/user_image/290x180.gif" alt="">
      <h3><a href="#">Thumbnail label</a> <span class="label label-important"> new</span></h3>
      <p>Thumbnail caption right here...</p>
      <p>Php 500</p>
    </div>
  </li>

</ul>
