{% extends "base.html" %}
{% block content %}
<div class="row">	
<div class="span4">
	{% include "cat.html" %}
</div>
<div class="span8">
	<br /><br />
	<div class="row">
	  <img class="subcat_img" src="/ADS/img/subcat_{{product.sub_id}}.gif" alt="" />
	 
	</div>
	<div class="row">
	  	{% include "fragments/breadcrumb.html"%}

	</div>

	<div class="row">
	  <div class="span4">
	    <img class="prod_img" src="/ADS/img/prod_{{product.id}}.gif" alt="" />
          </div>
  	  <div class="span4">
            <h1>{{product.name}}</h1>
	    <p>{{product.details}}</p>
	    <h3>Php {{product.price}}</h3>
	    <br />
	    {% include "catalog/product_form.html" %}
          </div>
	</div>
</div>	
</div>

{% endblock %}
