{% extends "base.html" %}
{% block content %}
<div class="row">	
<div class="span4">
	{% include "cat.html" %}
</div>
<div class="span8">
	<br /><br />
	<div class="row">
	  <img class="subcat_img" src="/ADS/img/subcat_{{product.sub_id}}.gif" alt="" />
	 
	</div>
	<div class="row">
	  	{% include "fragments/breadcrumb.html"%}

	</div>

	<div class="row">
	  <div class="span4">
	    <img class="prod_img" src="/ADS/img/prod_{{product.id}}.gif" alt="" />
          </div>
  	  <div class="span4">
            <h1>{{product.name}}</h1>
	    <p>{{product.details}}</p>
	    <h3>Php {{product.price}}</h3>
	    <br />
	    <form action="" class="well form-horizontal">
		<p><code>Hey!</code> Add this item to your shopping cart.</p>
			<label for="size">Size:</label>
              <input type="text" class="input-medium" id="">
			<label for="color">Color:</label>
				<input type="text" class="input-xlarge" id="">
			<label for="quantity">Quantity:</label>
			<input type="text" class="input-small"/><br /><br />
			<input type="button" class="btn btn-primary" value="Add to Cart"/>
		</fieldset>
	    </form>
          </div>
	</div>
</div>	
</div>

{% endblock %}
