{% extends "base.html" %}
{% block content %}
<div class="row">	
<div class="span4">
	{% include "cat.html" %}
</div>
<div class="span8">

	<div class="row">
	  <img src="http://www.placehold.it/640x240" alt="" />
	 
	</div>
	<div class="row">

	<ul class="breadcrumb">
	  <li>
	    <a href="#">Home</a> <span class="divider">/</span>
	  </li>
	  <li>
	    <a href="#">Library</a> <span class="divider">/</span>
	  </li>
	  <li class="active">Data</li>
	</ul>
	</div>

	<div class="row">
	  <div class="span4">
	    <img src="http://www.placehold.it/270x400" alt="" />
          </div>
  	  <div class="span4">
            <h1>ACCORD</h1>
	    <p>Upper: canvas</p>
	    <p>Sole: rubber</p>
	    <p>Size/s: 50, 60, 70, 80, 90, 10</p>
	    <p>Color: brown</p>
	    <h3>Php 815</h3>
	    <br />
	    <form action="" class="well form-horizontal">
		<p>Add this item to your shopping cart.</p>
			<label for="size">Size:</label>
			<select name="size" id="size">
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
			<label for="color">Color:</label>
			<select name="color" id="color">
				<option value="black">black</option>
				<option value="brown">brown</option>			
			</select>
			<label for="quantity">Quantity</label>
			<input type="text" value="1"/><br />
			<input type="button" class="btn" value="add to cart"/>
		</fieldset>
	    </form>
          </div>
	</div>
</div>	
</div>

{% endblock %}
